@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  font-family: "Play", sans-serif;
}

@keyframes rotateX {
  from {
    transform: rotateX(50deg) rotateY(30deg) rotateZ(100deg);
  }

  to {
    transform: rotateX(770deg) rotateY(390deg) rotateZ(460deg);
  }
}

@keyframes catchAttention {
  from {
    outline: 4px solid yellow;
    outline-offset: 0px;
  }

  to {
    outline: 4px solid rgba(255, 255, 0, 0);
    outline-offset: 10px;
  }
}

@keyframes leftAnim {
  from{
    transform: translateX(80%);

  }
  to {
    transform: translateX(-80%);
  }
}

@keyframes rightAnim {
  from{
    transform: translateX(-80%);

  }
  to {
    transform: translateX(80%);
  }
}
